@page "/"
@inject NavigationManager NavManager
<div class="Center">
    <h1 id="title">HELLO,</h1>
    <p id="intro">
        My name's Dane and I am a upcoming computer science graduate, I enjoy coding in my free time and trying out new languages and frameworks.
        I've got experience in a wide variety of different languages mainly in python, I enjoy web development and software development the most!
    </p>

    <button class="portfolio btn" @onclick='redirectURL'>
        PORTFOLIO
    </button>
    <button class="btn btn-outline-light" @onclick="redirectAbout"> ABOUT ME</button>

</div>

@code {

    void redirectURL()
    {
        NavManager.NavigateTo("/portfolio");
    }

    void redirectAbout()
    {
        NavManager.NavigateTo("/about");
    }
}
