@page "/resume"
@inject IJSRuntime js
<h3>My Resume</h3>

<div class="resume">
    <img src="images/resume-1.jpg" height="800px" width="650px" id="resume"/>
</div>
<a href="~/images/" class="portfolio btn" download="Resume-converted.pdf" target="_top">Download</a>


@code {

}
