@page "/resume" 

<h3>Resume</h3>

<div class="resume">
    <img src="~/images/Resume.png" height="600px" width="400px"/>
</div>

<button class="portfolio btn" src="~/images" download="Resume.png" target="_top">
    download
</button>

@code {

}
