@page "/portfolio"

<NavLink class="the nav-link" href="monkeys">
    <h1 class="display-4">Shakespearean monkeys</h1>
</NavLink>
<NavLink class="the2 nav-link" href="https://github.com/DaneLyttinen/Movie_watching_website">
    <h1 class="display-4">Notflix</h1>
</NavLink>

@code {

}
